@page
@model ContactModel
@{
  ViewData["Title"] = "Contact Page";
}
@section Scripts {
  <script src="~/node_modules/vue/dist/vue.js"></script>
  <script src="~/js/wait-cursor.js"></script>
  <script src="~/js/contact.js"></script>
}
<div>
  <div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <p>This is a simple contact page. We won't actually send anything to anyone.</p>
  </div>
  <div class="row">
    <div class="col-6 offset-3">
      <form method="post" id="theForm" 
            v-on:submit.prevent="onSubmit()">
        <wait-cursor :shown="busy" 
                     message="Sending Mail...">
        </wait-cursor>
        <div :title="title">{{ title }}</div>
        <div class="form-group">
          <label>Name</label>
          <input type="text"
                 class="form-control"
                 name="name"
                 v-model="msg.name" />
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email"
                 class="form-control"
                 name="email"
                 v-model="msg.email" />
        </div>
        <div class="form-group">
          <label for="">Subject</label>
          <input type="text" class="form-control"
                 name="subject"
                 v-model="msg.subject" />
        </div>
        <div class="form-group">
          <label for="">Message</label>
          <textarea row="4"
                    class="form-control"
                    name="body"
                    v-model="msg.body"></textarea>
        </div>
        <div class="form-group">
          <input type="submit"
                 class="btn btn-success"
                 value="Send" />
        </div>
      </form>
    </div>
  </div>
</div>